<script>
window.onload = function(){
   try
   {
       if (window.parent && window.parent.location.hostname !== "soundframe.herokuapp.com"){
          throw new Error();
       }
   }
   catch (e){
      document.body.innerHTML = "Access Denied<br/>" + "<a href='" + document.referrer + "'>Go Back</a> or visit the full website <a href='https://soundframe.herokuapp.com/' target='_blank'>here</a>"
   }
}
</script>
<form>
<div class="row collapse">
	<p> Search users and click on the results to find the tracks you need.</p>
	<div class="small-10 columns">
		<input id="search_query" type="text" name="user" placeholder="Soundcloud User">
	</div>
	<div class="small-2 columns">
		<button id="submit_query" class="button postfix add-option">Search</button>
	</div>
</div>
</form>

<div class="row">
	<div id="column_left" class="large-6 columns">
		<h3>Soundcloud users</h3>
		<div id="search_results">
			<!-- search_results append here -->
		</div>
	</div>
	<div class="large-6 columns">
		<h3>Tracks</h3>
		<div id="tracks">
			<!-- tracks append here -->
		</div>
	</div>
</div>