<div class="row collapse">
	<div class="small-10 columns">
		<input id="search_query" type="text" name="user" placeholder="Soundcloud User">
	</div>
	<div class="small-2 columns">
		<button id="submit_query" class="button postfix">Search</button>
	</div>
</div>


<div class="row">
	<div id="search_results" class="large-6 columns"><h3>Soundcloud users</h3></div>
	<div class="large-6 columns"><h3>Tracks</h3></div>
</div>