<% provide(:title, 'All users') %>
<h1>All users</h1>
<%= will_paginate %>
<% @users.each do |user| %>
<div class="row">
  <div class="large-6 columns">
    <%= gravatar_for user %>
  </div>
  <div class="large-6 columns padding">
    <%= link_to user.name, user %>
  </div>
  </div>
  <%end%>

<%= will_paginate %>