<script>
window.onload = function(){
 try
 {
  if (window.parent
    && window.parent.location.hostname !== "localhost"
    && window.parent.location.hostname !== "www.soundfra.me"
    && window.parent.location.hostname !== "soundframe.herokuapp.com"){
    throw new Error();
}
}
catch (e){
  document.body.innerHTML = "Access Denied<br/>" + "<a href='" + document.referrer + "'>Go Back</a> or visit the full website <a href='https://soundframe.herokuapp.com' target='_blank'>here</a>"
}
}
</script>
<% provide(:title, 'Sign Up') %>
<h1>Sign up</h1>
<div class="row">
  <%= render 'shared/error_messages' %>
  <div class="large-6 large-offset-3 columns forms">
    <form data-abide action="/users" class="new_user" id="new_user" method="post">
      <div class="name-field">
        <label>Name <small>required</small></label>
        <input type="text" name="user[name]" required pattern="[a-zA-Z]+">
        <small class="error">Name is required and must be a string.</small>
      </div>
      <div class="email-field">
        <label>Email <small>required</small></label>
        <input type="email" required name="user[email]" pattern="email">
        <small class="error">An email address is required.</small>
      </div>
      <div class="password-field">
        <label>Password <small>required (Must contain upper-case, lower-case, number/special character, and min 8 characters) </small></label>
        <input type="password" name="user[password]" pattern="password">
        <small class="error">Your password is too short</small>
      </div>
      <div class="password-confirmation-field">
        <label>Confirm Password <small>required</small></label>
        <input type="password" name="user[password_confirmation]" data-equalto="password">
        <small class="error">The password did not match</small>
      </div>
      <input class="button dashboard-option submit_button" name="commit" type="submit" value="Sign up">
    </form>
  </div>
</div>



