<html>
  <body>
    <header class="index_header">
      <h1><%= @user.name %></h1>
    </header>
      <div>
      <h1>
        <%= gravatar_for @user %>
      </h1>
      </div>
        <footer class="show_footer">
    </footer>
      </body>
</html>

