<% provide(:title, 'About Soundframe') %>

<div class="small-8 columns style_one">
  <h3 class="about_title"> So, what's Soundframe ?</h3>
SoundFrame came to be because I wanted to enhance storytelling, especially audio storytelling. Being a radio journalist, I thought, we share photos of the places we've been, but what about the sounds? Can we share those too? Well, now you can. Create a map of interviews, pieces, sounds you've recorded, concerts that you've been to... I'll let your creativity guide you.
</div>

<div class="small-8 connector">
</div>
<div class="small-8 connector_two">
</div>

<div class="small-8 small-offset-1 columns style_two">
  <h3 class="about_title"> The Programmer</h3>
  <img class="about_img" src="http://laurenbenichou.com/images/radio.jpg"><img><br/>
  <div class="about_me_blurb">
    I am a freelance multimedia journalist and a full-stack web developer aka "javascript journalist."
    I am striving to combine code and storytelling. I want to create beautiful and interactive multimedia projects in order to enhance the user experience, making news and in-depth reporting complex but accessible. <br/>
      <a href="http://www.laurenbenichou.com">More info.</a>
  <div>

</div>
