 <h2>Image</h2>
    <p>Choose an image from your computer.</p>
    <div class="large-6 large-offset-5">
    <input id="image" type="file" name="image" placeholder="Upload image">
    </div>
    <div id="loading" class="large-6 large-offset-3">
    </div>
    <div class="large-12 columns">
      <a href="#" id="upload_image" data-id="<%= id %>" class="button library-option">Upload image!</a>
    </div>
    <a class="close-reveal-modal">&#215;</a>


