 <h2>Image</h2>
    <p>Choose an image from your computer.</p>
    <input id="image" type="file" name="image" placeholder="Upload image">
    <div class="large-12 columns">
      <a href="#" id="upload_image" data-id="<%= id %>" class="button library-option">Upload image!</a>
    </div>
    <a class="close-reveal-modal">&#215;</a>