/*
 *= require twitter/bootstrap
 */
 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body{
	font-family: 'Amatic SC', cursive;
	}

 header{
	text-align: center;
	letter-spacing: 10px;
	background-color: #008c93; 
	height: 20%;
	margin-bottom: 40px;
	margin-top: 0px;
}

footer{
	text-align: center;
	color: black;
	letter-spacing: 5px;
	font-size: 20px;
	background-color: #003a3e; 
	height: 100px;
	margin-top: 20px;
	height: 95px;
	padding-top: 5px;
	padding-bottom: 10px;
	color: white;
}

h1{
	
	font-family:'Amatic SC', cursive;
	font-size: 30px;
}

h2{
	font-family: 'Amatic SC', cursive;
}


