// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Flamenco);


.box{
	height: 40px;
	width: 400px;
	font-size: 18px;
	letter-spacing: 3px;
	margin-right: 10px;
}

.searchform{
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
}
.search{
	text-align: center;
}
.logo{
	margin-right: 40px;
}