// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#bar {
  position: fixed;
	width: 100px;
	height: 100%;
	padding-top: 2.125em;
	background-color: #212121;
	z-index: 9999;
	cursor: pointer;
}

.inner-wrap {
	position: fixed;
	height: 100%;
}

.main-section{
	padding-left: 99px;
}

