// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#bar {
  position: fixed;
	width: 50px;
	height: 100%;
	padding-top: 2.125em;
  border-right: 1px dotted black;
	background-color: #fff;
	z-index: 9999;
	cursor: pointer;
}

.left-off-canvas-menu {
  text-align: left;
  font-family: oswald;
}

ul.off-canvas-list li a:hover{
  color: white;
  background-color: #D25E15;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.inner-wrap {
	position: fixed;
	height: 100%;
}

#next{
	font-size: 20px;
}

#home-map {
  height: 100%;
  width: 100%;
  background-color: white;
  position: fixed;
}

#information {
  height: 100%;
  width: 100%;
  text-align: center;
  background: rgba(247, 125, 44, 0.2);
  position: relative;
  margin: auto;
  display: none;
  padding-top: 35%;
  padding-bottom: 20px;
}

#close-information{
  font-size: 50px;
  float: right;
  margin-top: -35%;
  color: black;
  border-radius: 10px;
  cursor: pointer;
}

#close-information:hover{
  color: white;
  background-color: #D25E15;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

