// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map-project {
  height: 100%;
  width: 100%;
  background-color: white;
  position: fixed;
}

#save-project{
  position: fixed;
  cursor: pointer;
  margin-top: 500px;
  margin-left:300px;
}

#close-info:hover{
  cursor: pointer;
  color: rgba(0, 0, 0, 0.3);
}

.fade {
  background-color: rgba(0, 0, 0, 0.3);
  height: 195px;
  width:  285px;
  top: 0;
  left: 0;
  text-align: center;
  line-height: 180px;
  color: white;
}


.hide{
  display: none;
}

#information {
  height: 100%;
  text-align: center;
  background: rgba(0,0,0,0.5);
  position: relative;
  width: 100%;
  margin: auto;
  display: none;
  padding-top: 20px;
  padding-bottom: 20px;
}


