// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map-project {
  height: 100%;
  width: 100%;
  background-color: white;
  position: fixed;
}

#save-project{
  position: fixed;
  cursor: pointer;
  margin-top: 500px;
  margin-left:300px;
}

#info{
    height: 100%;
    width: 100%;
    text-align: center;
    background: white;
    position: relative;
    margin: auto;
    overflow: scroll;
}

#close-info:hover{
  cursor: pointer;
  color: rgba(0, 0, 0, 0.3);
}


tr:hover{
  background-color: rgba(0, 0, 0, 0.8);
}

