
body{
  text-align: center;
  }

#column_left{
  border-right: 1px dotted black;

}
#search_results{
  height:400px;
  overflow-y: overlay;
}

#tracks{
  height:400px;
  overflow-y: overlay;
}

.clickeable {
  cursor: pointer;
  border-radius: 10px;
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -ms-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.clickeable:hover{
  color: white;
  background-color: #D25E15;
}


