@import url(http://fonts.googleapis.com/css?family=Flamenco);

 .index_header{
    text-align: center;
    letter-spacing: 10px;
    background-color: #008c93;
    height: 100px;
}

h2{
    color: white;
}

.index_footer{
    height: 110px;
    margin-top: 10px;
}

.show_footer{
    height: 110px;
    margin-top: 30px;
}

body{
    text-align: center;
  }

#map {
    height: 100%;
    width: 100%;
    background-color: white;
    position: fixed;
}

#information {
    height: 200px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    position: fixed;
    width: 100%;
    display: none;
    margin-top: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
}

a{
    font-size: 20px;
}

.all_users{
    width: 1200px;
    height: 320px;
    margin: auto;
    padding: 60px;
}

.single_user{
    float: left;
    margin:2px 2px 2px 2px;
    width:200px;
    height:200px;
    text-align:center;
}

#clearer{
    clear:both;
}

.all_tracks{
    width: 1200px;
    height: 470px;
    margin: auto;
    padding: 60px;
    overflow: scroll;
}

.single_track{
    float: left;
    margin:2px 2px 2px 2px;
    width:200px;
    height:200px;
    text-align:center;
}

.home_link{
    height: 20px;
}

.submit{
    position:fixed;
    left:10px;
    top:150px;
}

.error{
    color: red;
    font-size: 25px;
}

