
body{
    text-align: center;
  }

#column_left{
    border-right: 1px dotted black;
    // position: relative;

}
#search_results{
    height:400px;
    overflow: scroll;
}

#tracks{
    height:400px;
    overflow: scroll;
}

.clickeable{
    cursor: pointer;
    border: 1px solid black;
    margin: 10px;
}

.active {
   pointer-events: none;
   cursor: default;
}

// #map {
//     height: 100%;
//     width: 100%;
//     background-color: white;
//     position: fixed;
// }

// #information {
//     height: 200px;
//     text-align: center;
//     background: rgba(0, 0, 0, 0.5);
//     text-align: center;
//     position: fixed;
//     width: 100%;
//     display: none;
//     margin-top: 400px;
//     padding-top: 20px;
//     padding-bottom: 20px;
// }

// a{
//     font-size: 20px;
// }

// .all_users{
//     width: 1200px;
//     height: 320px;
//     margin: auto;
//     padding: 60px;
// }

// .single_user{
//     float: left;
//     margin:2px 2px 2px 2px;
//     width:200px;
//     height:200px;
//     text-align:center;
// }

// #clearer{
//     clear:both;
// }

// .all_tracks{
//     width: 1200px;
//     height: 470px;
//     margin: auto;
//     padding: 60px;
//     overflow: scroll;
// }

// .single_track{
//     float: left;
//     margin:2px 2px 2px 2px;
//     width:200px;
//     height:200px;
//     text-align:center;
// }

// .home_link{
//     height: 20px;
// }

// .submit{
//     position:fixed;
//     left:10px;
//     top:150px;
// }

// .error{
//     color: red;
//     font-size: 25px;
// }

