// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body p{
  font-family: oswaldbook;
  font-size: 25px;
}

body a {
  font-family: oswaldbook;
  color: #D25E15;
}

body h1 h2{
  font-weight: bold;
}

#user-info{
  visibility: visible;
  height: 300px;
}

.gravatar{
  border: 10px solid black;
  margin-top: 30px;
}


.dashboard-option {
  cursor: pointer;
  background-color: black;
  font-family: oswaldbold;
  font-size: 12px;
  border-radius: 50px;
  height: 100px;
  width: 100px;
  margin-top: 40px;
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -ms-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.dashboard-option:hover{
  background-color: #D25E15;
}


#all-projects{
  display: none;
  background-color: white;
  height: 700px;
  padding-top: 40px;
  overflow: scroll;
}

#all-projects, #all-projects-public a{
  font-family: oswaldbook;
  color: white;
  font-size: 20px;
}

.new_project_link{
  font-family: oswaldbook;
  color: #D25E15 !important;
}

.project-box{
  border: 3px solid black;
  background-color: white;
  padding: 10px;
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -ms-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.project-box:hover{
  background-color: #D25E15;
  color: white;
}

.project-box a{
  margin: 20px;
  color: white;
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -ms-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;

}

.project-box a:hover {
  background-color: black;
  color: white;
  border-radius: 10px;
}

#close-project{
  font-size: 50px;
  float: right;
  color: black;
  cursor: pointer;
  border-radius: 10px;
  margin-right: 10px;
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -ms-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}


#close-project:hover{
  color: white;
  background-color: #D25E15;
}

//User Forms

.forms{
  border-radius: 20px;
  border: 2.5px dotted #D25E15;
}

.submit_button{
  padding: 10px !important;
}

.connector_form{
  border-top: 2.5px dotted #D25E15;
  width: 330px;
  top: 100px;
}

//Public profile

#all-projects-public{
  border-top: 1px dotted black;
  background-color: white;
  height: 400px;
  width: 100%;
  overflow: scroll;
}

.padding{
  padding-top: 80px;
}
