// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*************GLOBAL SASS VARIABLES****************/

$font-stack: oswaldbook;
$accent-color: #D25E15;
$transition-values: all, 500ms, ease-out;

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}


/*************USER PAGE****************/

body p{
  font-family: $font-stack;
  font-size: 25px;
}

body a {
  font-family: $font-stack;
  color: $accent-color;
}

body h1 h2{
  font-weight: bold;
}

#user-info{
  visibility: visible;
  height: 300px;
}

.gravatar{
  border: 10px solid black;
  margin-top: 30px;
}


.dashboard-option {
  @include transition($transition-values...);
  cursor: pointer;
  background-color: black;
  font-family: $font-stack;
  padding: 15px;
  font-size: 16px;
  border-radius: 50px;
  height: 100px;
  width: 100px;
  margin-top: 40px;
}

.dashboard-option:hover{
  background-color: $accent-color;
}


#all-projects{
  display: none;
  background-color: white;
  height: 700px;
  padding-top: 40px;
  margin-top: 10px;
  overflow: scroll;
}

#all-projects, #all-projects-public a{
  font-family: $font-stack;
  color: white;
  font-size: 20px;
}

.new-project-link{
  font-family: $font-stack;
  color: $accent-color !important;
}

.project-box{
  @include transition($transition-values...);
  border: 3px solid black;
  background-color: white;
  padding: 10px;
}

.project-box:hover{
  background-color: $accent-color;
  color: white;
}

.project-box a{
  @include transition($transition-values...);
  margin: 20px;
  color: white;
}

.project-box a:hover {
  background-color: black;
  color: white;
  border-radius: 10px;
}

#close-project{
  @include transition($transition-values...);
  font-size: 50px;
  position: fixed;
  top: 0;
  right: 0;
  color: black;
  cursor: pointer;
  border-radius: 10px;
  margin-right: 10px;
}


#close-project:hover{
  color: white;
  background-color: $accent-color;
}

//User Forms

.forms{
  border-radius: 20px;
  border: 2.5px dotted $accent-color;
}

.submit-button{
  padding: 10px !important;
}

.connector-form{
  border-top: 2.5px dotted $accent-color;
  width: 330px;
  top: 100px;
}

//Public profile

#all-projects-public{
  border-top: 1px dotted black;
  background-color: white;
  height: 400px;
  width: 100%;
  overflow: scroll;
}

.padding{
  padding-top: 80px;
}


// News

.panel.callout{
  background-color: rgba(247, 125, 44, 0.2);
  width: 500px;
  margin: auto;
}
