// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body p{
  font-family: oswaldbook;
  font-size: 25px;
}

body a{
  font-family: oswaldbook;
  color: #D25E15;
}

body h1 h2{
  font-weight: bold;
}

#user-info{
  visibility: visible;
}

.gravatar{
  border: 10px solid black;
  margin-top: 30px;
}


.dashboard-option {
  cursor: pointer;
  background-color: black;
  font-family: oswaldbold;
  font-size: 12px;
  border-radius: 50px;
  height: 100px;
  width: 100px;
  margin-top: 40px;
}

.dashboard-option:hover{
  background-color: #D25E15;
   -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}


#all-projects{
  display: none;
  height: 700px;
  overflow: scroll;
}

#all-projects a{
  font-family: oswaldbook;
  color: white;
  font-size: 20px;
}

#project-box{
  border: 3px solid black;
  padding: 10px;
}
#project-box:hover{
  background-color: #D25E15;
  color: white;
   -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

#project-box a:hover {
  background-color: black;
  color: white;
  border-radius: 10px;
  font-size: 30px;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

#close-project{
  font-size: 50px;
  float: right;
  color: black;
  cursor: pointer;
  border-radius: 10px;
  margin-right: 10px;
}

#close-project:hover{
  color: white;
  background-color: #D25E15;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

